@import url("https://fonts.googleapis.com/css2?family=Mansalva&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Mansalva&display=swap");

* {
  font-family: Comic Neue, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

h1 {
  font-family: Mansalva, sans-serif;
  padding: 20px;
  font-size: 64px;
}
.head {
  margin: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.tigasegi {
  margin-left: 5px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #525252;
}

.subhead2 {
  margin-top: 5px;
  position: absolute;
  z-index: +1;
}

.subhead3 {
  padding: 5px;
  border-radius: 5px;
  background-color: #525252;
  color: white;
}

.buang {
  cursor: pointer;
}

.buang2 {
  cursor: pointer;
  padding: 3px;
  background-color: rgb(196, 72, 72);
  border-radius: 5px;
}

.buang2:hover {
  background-color: rgb(246, 83, 83);
}

.buang3 {
  margin-top: 1px;
  cursor: pointer;
  padding: 3px;
}

.buang3:hover {
  background-color: #696969;
  border-radius: 5px;
}
.tentang {
  cursor: pointer;
  text-decoration: none;
}

.tentang:visited {
  color: black;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 50px 50px 50px;
}
.input {
  display: flex;
}
textarea {
  padding: 5px;
  width: 428px;
  height: 36px;
  border-radius: 5px;
  border-color: #c2c2c2;
  margin-right: 5px;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.childContainer {
  width: 234px;
  padding: 16px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 4px 15px 0px;
}

#simpan {
  font-family: Mansalva, sans-serif;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 16px;
  height: 36px;
  color: white;
  background-color: #525252;
  border-radius: 5px;
  cursor: pointer;
}

button {
  width: 100px;
  background-color: white;
  color: #cecece;
  border-radius: 5px;
  border-color: rgba(255, 218, 185, 0);
  padding: 4px;
}
p {
  margin-bottom: 20px;
}
button:hover {
  background-color: #f2f2f2;
  color: #525252;
}

button:active {
  background-color: #c2c2c2;
}
